<h1 class="display-4">Articles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <% articles.forEach((article) => { %>
            <tr>
                <td>
                    <%= article.id %>
                </td>
                <td>
                    <%= article.title %>
                </td>
                <td>
                    <%= article.body %>
                </td>
                <td>
                    <form class="d-inline" action="/articles/edit/<%= article.id %>" method="POST">
                        <input type="submit" class="btn btn-primary" value="Edit" title="Edit article">
                    </form>
                </td>
                <td>
                    <form action="/articles/delete/<%= article.id %>" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete" title="Delete article">
                    </form>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>